
.header{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.header-content{
    width: 100%;
    max-width: 800px;
}

.name{
    color: palevioletred;
}